@media screen and (min-width: 1px){
    /*Navnebanneret som er stylet i indexfilen placeres øverst på siden her*/
    .navnebanner{
        margin-top: -8px;
    }
    /*1. sektion - forside styling af billede og citat*/
    .contagious{
        width: 100%;
        max-width: 1250px;
        float: right;
        margin-right: 30px;
    }
    .forside h2{
        font-family: var(--beon);
        text-align: end;
        top: 0.5em;
        margin-right: 15%;
    }
    .collagemoi{
        font-size: 2em;
        margin-bottom: -0.5em;
    }
    /*2. sektion - Akrylmarier placering af elementer i hver deres grid*/
    /*Første sektion i sektionen "donnie darko"*/
    .inspiration{
        grid-area: 1/2/2/3;
    }
    .donnie{
        grid-area: 2/2/3/4;
        margin-right: 30px;
        justify-self: stretch;
        max-width: 600px;
    }
    .stikord{
        grid-area: 2/1/4/2;
    }
    /*Næste sektion i sektionen "contagious"*/
    .contagiousgrid{
        grid-area: 2/2/3/4;
        margin-right: 30px;
        justify-self: stretch;
        max-width: 600px;
    }
    .contagiousmaleri{
        grid-area: 3/2/4/4;
        margin-right: 30px;
        justify-self: stretch;
        max-width: 600px;
    }
    /*Næste sektion i sektionen "telefoot"*/
    .sketch1{
        grid-area: 2/2/3/3;
        width: 37.7%;
        margin-left: 35%;
        justify-self: start;
    }
    .sketch2{
        grid-area: 2/2/3/3;
        width: 35%;
        justify-self: start;
    }
    .telefoot{
        grid-area: 3/2/4/4;
        margin-right: 30px;
        justify-self: stretch;
        max-width: 600px;
    }

    /*3. sektion - custom shoes, placering af elementer i hver deres grid*/
    /*"michelangelo" sko*/
    .michelangelo{
        grid-area: 2/2/3/3;
        justify-self: stretch;
    }
    .michelangelodetaljer{
        grid-area: 3/2/4/3;
        justify-self: stretch;
    }
    .detaljer{
        grid-area: 3/1/4/2;
    }
    /*Mac miller sko*/
    .inspiration{
        grid-area: 1/2/2/3;
    }
    .macmiller{
        grid-area: 2/2/3/3;
        justify-self: stretch;
    }
    .macmillerdetaljer{
        grid-area: 3/2/4/3;
        justify-self: stretch;
    }
}
@media screen and (min-width: 750px){
    /*1. sektion - forside ændringer i font-størrelse og placering*/
    .forside h2{
        position: relative;
        margin-top: 1em;
        margin-right: 15%;
    }
    .collagemoi{
        font-size: 4em;
        margin-bottom: 1em;
    }
    .collagemoi2{
        font-size: 2em;
    }
    /*2. sektion - akrylmalerier ændringer i billedernes margin, så de ikke dækkes af navbar*/
    .donnie{
        margin-right: 38px;
    }
    .contagiousgrid{
        margin-right: 38px;
    }
    .contagiousmaleri{
        margin-right: 38px;
    }
}
@media screen and (min-width: 1250px){
    /*1. sektion - forside ændring i størrelser og placering*/
    .contagious{
        width: 60%;
        float: right;
        margin-right: 70px;
    }
    .forside h2{
        left: -3%;
    }
    .collagemoi{
        font-size: 4em;
        padding-top: 2.5em;
        margin-bottom: 0.5em;
    }
    .collagemoi2{
        font-size: 2.5em;
    }
}