@media screen and (min-width: 1px){
    .navnebanner{
        top:0;
        margin-top: -8px;
        margin-bottom: 0em;
        z-index: 2;
    }
    .navnebanner a{
        text-decoration: none;
        color: var(--lys);
    }
    /*1. sektion - øverste del af siden*/
    .contagious{
        width: 100%;
        max-width: 1250px;
        float: right;
        margin-right: 30px;
    }
    .forside h2{
        font-family: var(--beon);
        text-align: end;
        top: 0.5em;
        margin-right: 15%;
    }
    .collagemoi{
        font-size: 2em;
        margin-bottom: -0.5em;
    }
    /*2. sektion - Akrylmarier*/
    /*Første element i sektionen "donnie darko"*/
    .inspiration{
        grid-area: 1/2/2/3;
    }
    .donnie{
        grid-area: 2/2/9/4;
        margin-right: 30px;
        justify-self: stretch;
    }
    .stikord{
        grid-area: 2/1/4/2;
    }
    /*Næste element i sektionen "contagious"*/
    .contagiousgrid{
        grid-area: 2/2/3/4;
        margin-right: 30px;
        justify-self: stretch;
    }
    .contagiousmaleri{
        grid-area: 3/2/4/4;
        margin-right: 30px;
        justify-self: stretch;
    }
    /*Næste element i sektionen "telefoot"*/
    .sketch1{
        grid-area: 2/2/3/4;
        width: 48.5%;
        margin-left: 50%;
        margin-right: 30px;
        justify-self: end;
    }
    .sketch2{
        grid-area: 2/2/3/4;
        width: 45%;
        justify-self: start;
    }
    .telefoot{
        grid-area: 3/2/4/4;
        margin-right: 30px;
        justify-self: stretch;
    }

    /*3. sektion - custom shoes*/
    /*"michelangelo" sko*/
    .michelangelo{
        grid-area: 2/2/3/4;
        margin-right: 30px;
        justify-self: stretch;
    }
    .michelangelodetaljer{
        grid-area: 3/2/4/4;
        justify-self: stretch;
        margin-right: 30px;
    }
    .detaljer{
        grid-area: 3/1/4/2;
    }
    /*Mac miller sko*/
    .inspiration{
        grid-area: 1/2/2/3;
    }
    .macmiller{
        grid-area: 2/2/3/4;
        margin-right: 30px;
        justify-self: stretch;
    }
    .macmillerdetaljer{
        grid-area: 3/2/4/4;
        justify-self: stretch;
        margin-right: 30px;
    }
}
@media screen and (min-width: 750px){
    .forside h2{
        position: relative;
        margin-top: 1em;
        margin-right: 15%;
    }
    .collagemoi{
        font-size: 4em;
        margin-bottom: 1em;
    }
    .collagemoi2{
        font-size: 2em;
    }
    .donnie{
        margin-right: 38px;
        max-width: 500px;
    }
    .contagiousgrid{
        grid-area: 2/2/6/3;

    }
    .contagiousmaleri{
        grid-area: 6/2/10/3;
    }
    .sketch1{
        grid-area: 2/2/3/3;
        width: 48.5%;
        margin-left: 50%;
        margin-right: 30px;
        justify-self: end;
    }
    .sketch2{
        grid-area: 2/2/3/3;
        width: 45%;
        justify-self: start;
    }
    .telefoot{
        grid-area: 3/2/4/3;
        margin-right: 30px;
        justify-self: stretch;
    }
}
@media screen and (min-width: 1250px){
    .contagious{
        width: 60%;
        float: right;
        margin-right: 70px;
    }
    .forside h2{
        left: -3%;
    }
    .collagemoi{
        font-size: 4em;
        padding-top: 2.5em;
        margin-bottom: 0.5em;
    }
    .collagemoi2{
        font-size: 2.5em;
    }
    .contagiousgrid{
        max-width: 750px;
    }
    .contagiousmaleri{
        max-width: 750px;
    }
}