/*Farver og fonte*/
@font-face {
    font-family: beon;
    src: url(/assets/fonts/beon/Beon.otf);
  }
@font-face {
    font-family: readex;
    src: url(/assets/fonts/Readex_Pro/ReadexPro-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: readexbold;
    src: url(/assets/fonts/Readex_Pro/static/ReadexPro-Bold.ttf);
  }
  :root{
    --rød: #FF0000;
    --grøn: #00FC00;
    --pink: #F523F5;
    --sort: #000;
    --lys: #F5F5F5;
    --beon: 'beon', sans-serif;
    --readex: 'readex', sans-serif;
    --bold: 'readexbold', sans-serif;
}
@media screen and (min-width: 1px){
body{
    background-color: var(--lys);
    overflow-x: hidden;
}
/*Navigationsbar styling start*/
nav{
    height: 100%;
    width: clamp(38px, 5vw, 80px);
    position: fixed; 
    top: 0;
    right: 0;
    background-color: var(--sort);
    z-index: -1;
    overflow-x: hidden;
}
.rotate{
    position: relative;
    text-decoration: none;
    color: var(--lys);
    display: block;
    transform: rotate(270deg);
    justify-content: center;
}
.arbejde{
    margin-top: 15em;
    margin-bottom: -12em;
    font-family: var(--readex);
    text-transform: uppercase;
}
.personligt{
    font-family: var(--beon);
    margin-top: 20em;
}
.socials{
    margin-top: 1.5em;
    min-width: 2.5em;
    max-width: 3.5em;
}
.socials a{
    display: block;
    padding-top: 2em;
}
/*Navigationsbar styling slut*/

/*1. sektion - forside start*/
/*Titel*/
header{
    font-family: var(--bold);
    text-transform: uppercase;
    color: var(--rød);
    margin-left: -12px;
    margin-right: -8px;
    margin-top: -0.5em;
    width: 100vw;
    white-space: nowrap; 
    overflow: hidden;
    font-size: clamp(1.2em, 4.5vw, 3em);
    line-height: 0.5em;
}
/*Billede med slangevæsen*/
.slange{
    float: right;
    margin-right: -8px;
    margin-top: -8em;
    mix-blend-mode: difference;
    width: 80vw;
    max-width: 715px;
}
/*Citat*/
.citat{
    font-family: var(--beon);
    width: 5em;
    text-align: center;
    margin-top: -2em;
    line-height: 1.2em;
    font-size: 2.5em;
    margin-left: 1em;
}
.citat.ned{
    display: block;
    transform: rotate(-180deg);
    margin-top: -1em;
}
/*1. sektion - forside slut*/

/*Banner med navn*/
.navnebanner{
    background-color: var(--rød);
    color: var(--lys);
    font-family: var(--beon);
    font-size: 1.5em;
    padding: 0.1em;
    width: 100vw;
    margin-left: -8px;
    margin-top: 2.7em;
    white-space: nowrap; 
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}
/*Skrå striber mellemrum*/
.dekoration{
    width: 12em;
    margin-top: 2em;
    margin-left: -8px;
    mix-blend-mode: difference;
}

/*2. sektion multimediedesigner*/
/*banner med overskrift*/
.banner{
    background-color: var(--sort);
    color: var(--lys);
    font-family: var(--beon);
    font-size: 1.5em;
    padding: 0.1em;
    width: 100vw;
    margin-top: 3em;
    white-space: nowrap; 
    overflow: hidden;
    margin-left: -8px;
    margin-bottom: -0.5em;
    position: sticky;
    top: 1.28em;
}
/*Grid med overskrifter og beskrivende tekst*/
.gridcontainer{
    display: grid;
    grid-template-columns: 35% 55% auto;
}
.gridcontainer h4{
    font-family: var(--beon);
    font-size: 0.95em;
}
.gridcontainer p{
    font-family: var(--readex);
    line-height: 1.5em;
}
.hvem{
    grid-area: 1/1/2/2;
}
.ommig{
    grid-area: 1/2/2/3;
}
.skærm{
    grid-area: 2/2/3/3;
    width: 25vw;
    justify-self: end;
}
.hvorfor{
    grid-area: 3/1/4/2;
}
.historie{
    grid-area: 3/2/4/3;
}
/*Skrå steger dekoration*/
.multimediedesigner .dekoration{
    transform: scaleX(-1);
    float:right;
    margin-right: 2em;
    mix-blend-mode: normal;
    margin-bottom: 2em;
}
/*2. sektion slut*/

/*3. sektion - kompetencer*/
/*banner med overskrift er stylet sammen med banneret i sektionen over*/
/*Grid med overskrifter og tekst*/
.uddannelse{
    grid-area: 1/1/2/2;
}
.uddannelser{
    grid-area: 1/2/2/3;
}
.programmer{
    grid-area: 2/1/3/2;
}
.erfaring{
    grid-area: 2/2/3/3;
}
.kontakt{
    grid-area: 3/1/4/2;
}
.oplysninger{
    grid-area: 3/2/4/3;
}
}
@media screen and (min-width: 750px){
/*Billede med slangevæsen*/
.slange{
    margin-top: -18em;
}
.citat{
    position:absolute;
    margin-top: 10.6em;
}
.citat.ned{
    position:absolute;
    margin-top: 13em;
}
p{
    font-size: 1.15em;
}
h4{
    font-size: 1.3em;
}
nav{
    padding-top: 8em;
}
}
@media screen and (min-width: 1250px){
.slange{
    margin-top: -20em;
}
.rotate{
    font-size: 1.2em;
}
.arbejde{
    margin-top: 11em;
}
.personligt{
    margin-top: 18em;
}
.socials{
    margin-top: 1.5em;
    padding-left: 0.5em;
}
.citat{
    font-size: 4.5em;
    margin-top: 3.5em;
    margin-left: 20vw;
}
.citat.ned{
    margin-top: 5.85em;
    margin-left: 20vw;
}
.navnebanner{
    font-size: 2em;
}
.banner{
    font-size: 2em;
    margin-bottom: 0em;
}
/*Skrå striber mellemrum*/
.dekoration{
    width: 25em;
}
.dekoration.højre{
    margin-right: 4.5em;
    margin-bottom: 4em;
}
/*ændringer i grid*/
.gridcontainer{
    grid-template-columns: 27.3% 22.8% 38% auto;
}
.gridcontainer h4{
    font-size: 1.5em;
    margin-left: 3em;
}
.gridcontainer p{
    font-size: 1.35em;
}
.skærm{
    grid-area: 1/3/4/4;
    margin-top: 2em;
    margin-left: 2em;
}
}