/*Fonte*/
@font-face {
    font-family: beon;
    src: url(/assets/fonts/beon/Beon.otf);
  }
@font-face {
    font-family: readex;
    src: url(/assets/fonts/Readex_Pro/ReadexPro-VariableFont_wght.ttf);
  }
@font-face {
    font-family: readexbold;
    src: url(/assets/fonts/Readex_Pro/static/ReadexPro-Bold.ttf);
  }
/*Her sættes nogle values for farverr og fonte, der benyttes gentagende gange*/
  :root{
    --rød: #FF0000;
    --grøn: #00FC00;
    --pink: #F523F5;
    --sort: #000;
    --lys: #F5F5F5;
    --beon: 'beon', sans-serif;
    --readex: 'readex', sans-serif;
    --bold: 'readexbold', sans-serif;
}
/*Overordnet styling af baggrund samt de mest brugte fonte, som skal styles ens på alle siderne*/
body{
    background-color: var(--lys);
    overflow-x: hidden;
}
h4{
    font-family: var(--readex);
    line-height: 1.5em;
}
h5{
    font-family: var(--beon);
    font-size: 0.95em;
}
p{
    font-family: var(--readex);
    line-height: 1.2em;
}
li{
    list-style: none;
    font-family: var(--beon);
    margin-left: -2.5em;
    line-height: 2em;
}

/*Navigationsbar styling start*/
nav{
    height: 100%;
    width: 38px;
    position: fixed; 
    top: 0;
    right: 0;
    background-color: var(--sort);
    overflow-x: hidden;
    z-index: 1;
}
.rotate{
    text-decoration: none;
    color: var(--lys);
    display: block;
    transform: rotate(270deg);
    justify-content: center;
}
.arbejde{
    margin-top: 15em;
    margin-bottom: -12em;
    font-family: var(--readex);
    text-transform: uppercase;
}
.personligt{
    font-family: var(--beon);
    margin-top: 20em;
}
.socials{
    margin-top: 6em;
    min-width: 2.5em;
    max-width: 3.5em;
}
.socials a{
    display: block;
    margin-top: 2em;
}
/*Navigationsbar styling slut*/

/************************************************/

/*Herunder begynder stylingen af index-siden*/
/*1. sektion - forside start*/
/*Titel*/
header{
    position: relative;
    z-index: 1;
    font-family: var(--bold);
    text-transform: uppercase;
    color: var(--rød);
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -0.5em;
    width: 100vw;
    white-space: nowrap; 
    overflow: hidden;
    font-size: clamp(1.2em, 4.5vw, 3em);
    line-height: 0.5em;
}
/*Billede med slangevæsen*/
.slange{
    float: right;
    margin-top: -4.5em;
    mix-blend-mode: difference;
    width: 80vw;
    max-width: 715px;
}
/*Citat*/
.citat{
    font-family: var(--beon);
    width: 5em;
    text-align: center;
    margin-top: -2em;
    line-height: 1.2em;
    font-size: 2.5em;
    margin-left: 0.5em;
}
.citat.ned{
    display: block;
    transform: rotate(-180deg);
    margin-top: -1em;
}
/*1. sektion - forside slut*/

/*Banner med navn*/
.navnebanner{
    background-color: var(--rød);
    color: var(--lys);
    font-family: var(--beon);
    font-size: 1.5em;
    padding: 0.1em 0 0.1em 0;
    width: 100vw;
    margin:2.7em 0 0 -8px;
    white-space: nowrap; 
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 2;
}
/*Skrå striber mellemrum*/
.dekoration{
    width: 12em;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: -8px;
    mix-blend-mode: difference;
}

/*2. sektion multimediedesigner*/
/*banner med overskrift*/
.banner{
    background-color: var(--sort);
    color: var(--lys);
    font-family: var(--beon);
    font-size: 1.5em;
    padding: 0.1em 0 0.1em 0;
    margin: 0 0 -8px -0.5em;
    width: 100vw;
    white-space: nowrap; 
    overflow: hidden;
    position: sticky;
    top: 1.28em;
    z-index: 1;
}
/*Grid med overskrifter og beskrivende tekst*/
.gridcontainer{
    display: grid;
    grid-template-columns: 30% 60% 10%;
    margin-top: 1em;
}
.hvem{
    grid-area: 1/1/2/2;
}
.ommig{
    grid-area: 1/2/2/3;
}
.skærm{
    grid-area: 2/2/3/3;
    width: 25vw;
    justify-self: end;
}
.hvorfor{
    grid-area: 3/1/4/2;
}
.historie{
    grid-area: 3/2/4/3;
}
/*Skrå steger dekoration*/
.dekorationhøjre{
    width: 12em;
    margin: 3em 2em 3em 0;
    transform: scaleX(-1);
    float:right;
    mix-blend-mode: normal;
}
/*2. sektion slut*/

/*3. sektion - kompetencer*/
/*banner med overskrift er stylet sammen med banneret i sektionen over*/
/*Grid med overskrifter og tekst*/
.uddannelse{
    grid-area: 1/1/2/2;
}
.uddannelser{
    grid-area: 1/2/2/3;
}
.programmer{
    grid-area: 2/1/3/2;
}
.erfaring{
    grid-area: 2/2/3/3;
}
.kontakt{
    grid-area: 3/1/4/2;
}
.oplysninger{
    grid-area: 3/2/4/3;
}
/*3. sektion slut*/
@media screen and (min-width: 750px){
/*Overordnet styling af font og navbar for alle sider*/
h4{
    font-size: 1.15em;
}
h5{
    font-size: 1.3em;
}
p{
    font-size: 1.15em;
    line-height: 1.2em;
}
li{
    margin-left: -2em;
    font-size: 1.3em;
}
nav{
    width: 46px;
    padding-top: 8em;
}
.dekoration{
    width: 15em;
    margin: 4em 0 4em 0;
}
.dekorationhøjre{
    width: 15em;
    margin: 4em 46px 4em 0;
}

/*Styling af index-side*/
/*1. sektion - forside*/
.slange{
    margin-top: -18em;
}
.citat{
    position:absolute;
    margin-top: 10.6em;
}
.citat.ned{
    position:absolute;
    margin-top: 13em;
}
}
@media screen and (min-width: 1250px){
/*Overordnet styling af font og navbar for alle sider*/   
h4{
    font-size: 1.45em;
    margin-bottom: 2em;
}
h5{
    font-size: 1.5em;
    margin-left: 3em;
}
li{
    font-size: 1.5em;
    margin-left: 3em;
    margin-right: 1em;
}
nav{
    width: 80px;
}
.rotate{
    font-size: 1.2em;
}
.arbejde{
    margin-top: 11em;
}
.personligt{
    margin-top: 18em;
}
.socials{
    margin-top: 4em;
    padding-left: 0.5em;
}
.navnebanner{
    font-size: 2em;
}
.banner{
    font-size: 2em;
    margin-bottom: 1em;
}
.dekoration{
    width: 25em;
}
.dekorationhøjre{
    width: 25em;
    margin-right: 80px;
}
/*Styling af index-side*/
.slange{
    margin-top: -20em;
}
.citat{
    font-size: 4.5em;
    margin-top: 3.5em;
    margin-left: 20vw;
}
.citat.ned{
    margin-top: 5.85em;
    margin-left: 20vw;
}
/*ændringer i grid*/
.skærm{
    grid-area: 1/2/4/4;
    margin-right: 72px;
}
.multimediedesigner p{
    width: 50%;
}
}