/*Farver og fonte*/
@font-face {
    font-family: beon;
    src: url(/assets/fonts/beon/Beon.otf);
  }
@font-face {
    font-family: readex;
    src: url(/assets/fonts/Readex_Pro/ReadexPro-VariableFont_wght.ttf);
  }
  :root{
    --rød: #FF0000;
    --grøn: #00FC00;
    --pink: #F523F5;
    --sort: #000;
    --lys: #F5F5F5;
    --beon: 'beon', sans-serif;
    --readex: 'readex', sans-serif;
}
body{
    background-color: var(--lys);
}
/*Navigationsbar styling start*/
nav{
    height: 110vh;
    width: 38px;
    position: fixed; 
    top: 0;
    right: 0;
    background-color: var(--sort);
    z-index: -1;
    overflow-x: hidden;
}
.rotate{
    position: relative;
    text-decoration: none;
    color: var(--lys);
    display: block;
    transform: rotate(270deg);
    justify-content: center;
}
.arbejde{
    margin-top: 20em;
    margin-bottom: -12em;
    font-family: var(--readex);
    text-transform: uppercase;
}
.personligt{
    font-family: var(--beon);
    margin-top: 20em;
}
.socials{
    margin-top: 2.8em;
}
.socials a{
    display: block;
    padding-top: 2em;
}
/*Navigationsbar styling slut*/

/*1. sektion - forside start*/
/*Titel*/
header{
    font-family: var(--readex);
    text-transform: uppercase;
    color: var(--rød);
    margin-left: -8px;
    margin-top: -0.5em;
    width: 110vw;
    white-space: nowrap; 
    overflow: hidden;
    font-size: 2em;
    line-height: 1em;
}
/*Billede med slangevæsen*/
.slange{
    position: relative;
    margin-top: -12em;
    mix-blend-mode: difference;
    width: 80vw;
    padding-left: 5em;
}
/*Citat*/
.citat{
    font-family: var(--beon);
    width: 5em;
    text-align: center;
    margin-top: -2em;
    line-height: 1.2em;
    font-size: 2.5em;
    margin-left: 1em;
}
.citat.ned{
    display: block;
    transform: rotate(-180deg);
    margin-top: -1em;
}
/*1. sektion - forside slut*/

/*Banner med navn*/
.navnebanner{
    background-color: var(--rød);
    color: var(--lys);
    font-family: var(--beon);
    font-size: 1.5em;
    padding: 0.1em;
    width: 110vw;
    margin-left: -8px;
    margin-top: 2.7em;
    white-space: nowrap; 
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 1;
}
/*Skrå striber mellemrum*/
.dekoration{
    width: 12em;
    margin-top: 2em;
    margin-left: -8px;
    mix-blend-mode: difference;
}

/*2. sektion multimediedesigner*/
/*banner med overskrift*/
.multimediedesigner h3{
    background-color: var(--sort);
    color: var(--lys);
    font-family: var(--beon);
    font-size: 1.5em;
    padding: 0.1em;
    width: 110vw;
    margin-top: 3em;
    white-space: nowrap; 
    overflow: hidden;
    margin-left: -8px;
    margin-bottom: -0.5em;
    position: sticky;
    top: 1.28em;
}
/*Grid med overskrifter og beskrivende tekst*/
.gridcontainer{
    display: grid;
    grid-template-columns: 35% 55% auto;
}
.gridcontainer h4{
    font-family: var(--beon);
    font-size: 0.95em;
}
.gridcontainer p{
    font-family: var(--readex);
    line-height: 1.5em;
}
.hvem{
    grid-area: 1/1/2/2;
}
.ommig{
    grid-area: 1/2/2/3;
}
.skærm{
    grid-area: 2/2/3/4;
    width: 60vw;
}
.hvorfor{
    grid-area: 3/1/4/2;
}
.historie{
    grid-area: 3/2/4/3;
}
/*Skrå steger dekoration*/
.multimediedesigner .dekoration{
    transform: scaleX(-1);
    float:right;
    margin-right: 2em;
    mix-blend-mode: normal;
}
/*2. sektion slut*/

/*3. sektion - kompetencer*/
/*banner med overskrift*/
.kompetencer h3{
    background-color: var(--sort);
    color: var(--lys);
    font-family: var(--beon);
    font-size: 1.5em;
    padding: 0.1em;
    width: 110vw;
    margin-top: 5em;
    white-space: nowrap; 
    overflow: hidden;
    margin-left: -8px;
    margin-bottom: -0.5em;
    position: sticky;
    top: 1.27em;
}
/*Grid med overskrifter og tekst*/
.uddannelse{
    grid-area: 1/1/2/2;
}
.uddannelser{
    grid-area: 1/2/2/3;
}
.programmer{
    grid-area: 2/1/3/2;
}
.erfaring{
    grid-area: 2/2/3/3;
}
.kontakt{
    grid-area: 3/1/4/2;
}
.oplysninger{
    grid-area: 3/2/4/3;
}